- name: Stop pangolin
  command: docker compose down
  args:
    chdir: "{{ pangolin_compose_path }}"

- name: docker-compose Pangolin
  template:
    src: docker-compose.yml.j2
    dest: "{{ pangolin_compose_path }}/docker-compose.yml"
    owner: root
    group: root
    mode: "0644"

- name: traefik config
  template:
    src: traefik_config.yml.j2
    dest: "{{ pangolin_traefik_path }}/traefik_config.yml"
    owner: root
    group: root
    mode: "0644"

- name: Pull images
  command: docker compose pull
  args:
    chdir: "{{ pangolin_compose_path }}"

- name: Start Pangolin
  command: docker compose up -d
  args:
    chdir: "{{ pangolin_compose_path }}"

- name: Remove unused Docker images
  command: docker image prune -af

